<section class="Section">
  <div class="Container Container--narrow Container--pad">
    <div class="Blurb">
      <h2 class="Blurb-title">Say Something</h2>
      <p class="Blurb-text"><%- text %></a></p>
    </div>
  </div>
</section>
