<footer class="Footer">
  <div class="Container Container--full Container--pad">
    <div class="Footer-icons">
      <a href="https://www.facebook.com/salloumolchanova" target="_blank" class="Footer-icon Footer-icon--facebook">Facebook</a>
      <a href="https://www.instagram.com/saysm_live/" target="_blank" class="Footer-icon Footer-icon--instagram">Instagram</a>
      <a href="https://vimeo.com/saysm" target="_blank" class="Footer-icon Footer-icon--vimeo">Vimeo</a>
    </div>
    <div class="Footer-copyright">
      <small>&copy; 2016, saysm.com</small>
    </div>
  </div>
</footer>
