extends ./_layouts/primary.pug

block variables
  - var slug = "home"
  -
    var items = [
      {
        title: "Merry Hipmas",
        subtitle: "Meet the hipmas gang"
      },
      {
        title: "Carnival 2014",
        subtitle: "The carnival 2014 subtitle"
      },
      {
        title: "Say Yes To Life",
        subtitle: "The birth of SAYSM"
      }
    ]

block main
  section.Section
    .Container.Container--narrow.Container--pad
      .Grid.Grid--gutter-xx
        .Grid-cell--xs-12
          .Blurb
            h2.Blurb-title Say Something
            p.Blurb-text Random musings about our work. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  section.Section
    .Container.Container--full
      each item in items
        a.PortfolioItem(href="#")
          .PortfolioItem-img
          .PortfolioItem-content
            h2.Portfolio-title= item.title
            span.Portfolio-subtitle= item.subtitle
