extends ../_layouts/primary.pug

block variables
  - var page = "Blog"
  - var slug = "blog"

block main
  -
    var articles = [
      {
        title: "trinidad+tobago film festival/2014: special edition t-shirt design by saysm",
        slug: "ttff-2014-special-edition-tshirt",
        date: "11th September, 2014",
        img: "ttff-2014-special-edition-tshirt-feat.jpg"
      },
      {
        title: "Say Yes To Life Collection – Clearance Sale",
        slug: "say-yes-to-life-collection-clearance-sale",
        date: "11th August, 2014",
        img: "say-yes-to-life-collection-clearance-sale-feat.jpg"
      },
      {
        title: "The Launch",
        slug: "the-launch",
        date: "17th April, 2014",
        img: "the-launch-feat.jpg"
      },
      {
        title: "Carnival 2014",
        slug: "carnival-2014",
        date: "15th March, 2014",
        img: "carnival-2014-feat.jpg"
      },
      {
        title: "Say Yes To Life Collection Photoshoot",
        slug: "say-yes-to-life-collection-photoshoot",
        date: "5th February, 2014",
        img: "say-yes-to-life-collection-photoshoot-feat.jpg"
      },
      {
        title: "Happyliferules 101",
        slug: "happyliferules-101",
        date: "9th December, 2013",
        img: "happyliferules-101-feat.png"
      },
      {
        title: "SAYSM Teaser Video",
        slug: "saysm-teaser-video",
        date: "24th November, 2013",
        img: "saysm-teaser-video-feat.png"
      }
    ]

  section.Section
    .Container.Container--narrow.Container--pad
      .Blurb
        h2.Blurb-title Say Something
        p.Blurb-text Random musings about our blog and writing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  section.Section
    .Container.Container--wide.Container--pad
      each article in articles
        a.BlogLoop(href= article.slug)
          .BlogLoop-details
            h2.BlogLoop-title
              span= article.title
            span.BlogLoop-date= article.date
          .BlogLoop-img
            img(src= SITE_URL + "/img/blog/" + article.slug + "/" + article.img)
