footer.Footer
  .Container.Container--full.Container--pad
    .Footer-icons
      a.Footer-icon.Footer-icon--facebook(href="https://www.facebook.com/salloumolchanova", target="_blank") Facebook
      a.Footer-icon.Footer-icon--instagram(href="https://www.instagram.com/saysm_live/", target="_blank") Instagram
      a.Footer-icon.Footer-icon--vimeo(href="https://vimeo.com/saysm", target="_blank") Vimeo
    .Footer-copyright
      small &copy; 2016, saysm.com
