extends ../_layouts/primary.pug

block variables
  - var page = "Contact"
  - var slug = "contact"

block main
  section.Section
    .Container.Container--narrow.Container--pad
      .Blurb
        h2.Blurb-title Say Something
        p.Blurb-text Something quirky about how to contact us. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  section.Section
    .Container.Container--narrow.Container--pad
      div contact info

  section.Section
    .Container.Container--narrow.Container--pad
      .Blurb
        h2.Blurb-title Say Something
        p.Blurb-text Something quirky about how to contact us. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
