extends ../_layouts/primary.pug

block variables
  - var page = "Contact"
  - var slug = "contact"

block main
  .Container.Container--narrow.Container--pad
    .Grid.Grid--gutter-xx
      .Grid-cell--xs-12
        .Blurb
          h2.Blurb-title Say Something
          p.Blurb-text Something quirky about how to contact us. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
