extends ../_layouts/primary.pug

block variables
  - var page = "About"
  - var slug = "about"

block main
  section.Section
    .Container.Container--narrow.Container--pad
      .Blurb
        h2.Blurb-title Say Something
        p.Blurb-text SAYSM is a creative collaboration of Nick Salloum and Elena Molchanova. We use our skills across several platforms to create a design vision that is colourful, fun, open-minded, mischievous and happy &mdash; the vision we both share, and live by.

  section.Section
    .Container.Container--narrow.Container--pad
      .Grid.Grid--gutter-xx
        .Grid-cell--xs-12
          img(src= SITE_URL + "/img/about/saysm-banner.png")
        .Grid-cell--xs-12.Grid-cell--sm-6
          .About.About--nick
            h2 Nick
            ul
              li artist
              li web developer
              li t-shirt designer
              li entrepreneur
              li engineer
              li free spirit
              li surfer
        .Grid-cell--xs-12.Grid-cell--sm-6
          .About.About--elena
            h2 Elena
            ul
              li art director
              li graphic designer
              li illustrator
              li motion graphics artist
              li video editor
              li free spirit
              li writer

  section.Section
    .Container.Container--narrow.Container--pad
      .Blurb
        h2.Blurb-title Say Something
        p.Blurb-text Want to see a bit of what we do? Check out our #[a(href= SITE_URL) work] or go and #[a(href="#") buy some stuff online.]
