<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>SAYSM</title>
    <meta name="description" content="">
    <meta property="og:type," content="website">
    <meta property="og:site_name">
    <meta property="og:title" content="undefined - undefined">
    <meta property="og:description">
    <meta property="og:image" content="/img/og-facebook.png">
    <meta property="og:url">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png?v=12345">
    <link rel="icon" type="image/png" href="/img/favicon.png?v=12345" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicon.png?v=12345" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon.png?v=12345" sizes="96x96">
    <link rel="shortcut icon" href="/img/favicon.ico?v=12345">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="Wrapper">
      <%- partial('partial/header') %>
      <main class="Main">
        <div class="Container">
          <%- body %>
        </div>
      </main>
      <%- partial('partial/footer') %>
    </div>
  </body>
</html>
