$blog-img-w: 540;
$blog-img-h: 300;

.BlogLoop {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: gutter(2x);

  &:last-child {
    margin-bottom: 0;
  }
}

.BlogLoop-details {
  margin: 0 0 gutter(lg) 0;
  flex: 0 0 100%;
  max-width: 100%;
  min-width: 0;

  @include break(lg) {
    margin: 0 gutter(xx) 0 0;
    flex: 1;
  }
}

.BlogLoop-title {
  margin: 0 0 gutter(sm) 0;
  padding: 0;
  color: #fff;
  font-family: $font-primary;
  font-size: fs(md);
  line-height: lh(md);
  text-transform: lowercase;
  word-wrap: break-word;

  @include break(lg) {
    font-size: fs(lg);
  }

  span {
    display: inline;
    padding: 0 gutter(sm);
    background-color: $color-neutral-1;
    box-decoration-break: clone;
    transition: background 250ms;
  }
}

.BlogLoop-date {
  display: block;
  color: $color-neutral-5;
  font-size: fs(sm);
  line-height: lh(sm);
}

.BlogLoop-img {
  flex: 0 0 100%;
  max-width: 54rem;

  @include break(lg) {
    flex: 0 0 42rem;
    max-width: 42rem;
  }

  @include break(xl) {
    flex: 0 0 54rem;
    max-width: 54rem;
  }

  img {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.BlogLoop:hover {
  .BlogLoop-title span {
    background-color: $color-ui-pink;
  }
}
