.Blurb {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.Blurb-title {
  margin: 0 0 gutter(xl) 0;
  flex: 0 1 auto;
  font-size: fs(xx);
  text-transform: lowercase;

  @include break(lg) {
    margin: 0 gutter(xx) 0 0;
  }
}

.Blurb-text {
  margin: 0;
  padding: 0;
  flex: 1;

  flex: 0 0 100%;
  max-width: 100%;

  @include break(lg) {
    flex: 1;
  }
}
