// Base font size, so that all rem units are calculated off of this one
$base--font-size: 10px;

// Greyscale Colours, dark to light
$color-neutral-1: #111;
$color-neutral-2: #333;
$color-neutral-3: #555;
$color-neutral-4: #777;
$color-neutral-5: #999;
$color-neutral-6: #AAA;
$color-neutral-7: #CCC;
$color-neutral-8: #EEE;

// UI colours
$color-ui-pink: rgb(255, 40, 140);
$color-ui-pink-dark: darken($color-ui-pink, 20%);
$color-ui-pink-light: lighten($color-ui-pink, 20%);
$color-ui-green: rgb(160, 230, 70);
$color-ui-green-dark: darken($color-ui-green, 20%);
$color-ui-green-light: lighten($color-ui-green, 20%);
$color-ui-turquoise: rgb(20, 213, 177);
$color-ui-turquoise-dark: darken($color-ui-turquoise, 20%);
$color-ui-turquoise-light: lighten($color-ui-turquoise, 20%);
$color-ui-neutral: $color-neutral-1;
$color-ui-neutral-dark: darken($color-ui-neutral, 20%);
$color-ui-neutral-light: lighten($color-ui-neutral, 20%);

// Font stacks
$font-primary: Rubik, Helvetica, Arial, sans-serif;
$font-secondary: 'Eight Track', Roboto, Helvetica, Arial, sans-serif;
