$gutter: (
  xs: 0.4rem,
  sm: 0.65rem,
  md: 1.05rem,
  lg: 1.7rem,
  xl: 2.75rem,
  xx: 4.45rem
);

@function gutter($size) {
  @return map-get($gutter, $size);
}

////////////////////////////////////////
////////////////////////////////////////

$font-size: (
  xs: 0.8rem,
  sm: 1.2rem,
  md: 1.6rem,
  lg: 2.2rem,
  xl: 2.8rem,
  xx: 3.6rem
);

@function fs($size) {
  @return map-get($font-size, $size);
}

////////////////////////////////////////
////////////////////////////////////////

$line-height: (
  sm: 1.1,
  md: 1.8,
  lg: 2.1
);

@function lh($size) {
  @return map-get($line-height, $size);
}
