a {
  color: $color-ui-pink;
  text-decoration: none;
  transition: color 250ms, background 250ms;
}

a:hover {
  color: $color-ui-pink-dark;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}
