.Container {
  margin: 0 auto;
}

.Container--full {
  width: 100%;
}

.Container--wide {
  max-width: 96rem;
}

.Container--narrow {
  max-width: 84rem;
}

.Container--pad {
  padding: 0 gutter(xl);
}
